
<div class="banner" style="background-image: url(<%= image_path "banner.jpg" %>);">

  <div class="banner-content">
    <h1>RetroWidget</h1>
    <p>Ever miss old gadgets? Rent from our selection of retro tech! </p>
    <a href="#" class="btn2 btn-danger btn-lg">Explore!</a>
    <h3 class = "text-center">Some of the <strong id="red-word">oldest</strong> and <strong id="red-word">coolest </strong>RetroTech </h3>

 <!-- <div class="search-bar">
    <form action="/gadgets" class="form-inline padded">
      <input type="text" class="form-control border-radius input-lg" placeholder="Camera...">
      <input type="text" name="checkin" class="form-control border-radius input-lg datepicker" placeholder="Checkin">
      <input type="text" name="checkout" class="form-control border-radius input-lg datepicker" placeholder="Checkout">
      <select name="" id="" class="form-control border-radius input-lg">
        <option value="1">Camera</option>
        <option value="2">Computers</option>
        <option value="3">Games</option>
        <option value="4">Phones</option>
        <option value="5">TV</option>
        <option value="6">Writing Tools</option>
      </select>
      <input type="submit" class="btn2 btn-danger btn-lg" value="Search">
    </form>
  </div> -->

  </div>
</div>


