
<div class="container index-page">
  <h1>Explore</h1>
  <div class="row">
      <% @gadgets.each do |gadget| %>
    <div class="col-sm-4">

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

        <div class="card-product-infos">
          <h2><%= gadget.name.upcase %></h2>
          <div class="scroll">
          <p> Description: <%= gadget.description %> </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
</div>
