.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  position: relative;
  left: 15px;
}

.nav-link {
  margin-right: 50px;
}

.nav-item img {
  width: 50px;
}

.nav-item .d-flex {
  font-size: 20px;
  justify-content: space-between;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px #FDC8FF;
}

.upload {
  color: blue;
}
