.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding: 25px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  margin-right: 50px;
}

.nav-item img {
  width: 40px;
}

.nav-item .d-flex {
  font-size: 20px;
  justify-content: space-between;

}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
}

.upload {
  color: blue;
}
